{% extends 'base.html' %}
{% block content %}

<h1>Ta da!</h1>
<br>
<h2>Here's your recommendation for today!</h2>
<br>

<form action="{% url 'rate' %}" method="post" id="rating-form">
  {% for food_item in recommendations %}
  <li>{{ food_item }}</li>
  <h3>It's <h1 class = "recommenderResults">{{ recommended_food }}!!</h1> </h3>
  {% csrf_token %}
  <div class="star-rating">
    <input type="radio" id="rating-5" name="rating" value="5">
    <label for="rating-5">5</label>
    <input type="radio" id="rating-4" name="rating" value="4">
    <label for="rating-4">4</label>
    <input type="radio" id="rating-3" name="rating" value="3">
    <label for="rating-3">3</label>
    <input type="radio" id="rating-2" name="rating" value="2">
    <label for="rating-2">2</label>
    <input type="radio" id="rating-1" name="rating" value="1">
    <label for="rating-1">1</label>
  </div>
  <br>
  <input type="hidden" id="food" name="food" value="{{ recommended_food }}">
  <button type="submit">Submit</button>
</form>
<br>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Hawkers</th>
      <th scope="col">Postal Code</th>
      <th scope="col">Ratings(out of 5)</th>
    </tr>
  </thead>
  <tbody id="Category">
    

        <tr>
        <th scope="row">Ah Hock Noodles</th>
        <td>Maxwell Foodcourt</td>
        <td>4.5 stars</td>
        </tr>


  </tbody>
</table>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex flex-column align-items-center">

        <a href="#" class="list-group-item list-group-item-action active text-center" aria-current="true">View your past Ratings!</a>
      </div>
    </div>
  </div>
</div> -->

<script>
$(document).ready(function(){
  $("#searchCategory").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#Category tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

document.querySelectorAll('input[name="rating"]').forEach(function(radio) {
    radio.addEventListener('change', function(event) {
      console.log('Selected rating: ' + event.target.value);
    });
  });

</script>

{% endblock %}