{% extends 'base.html' %}
{% block content %}



<div class="container">
	<h1>Food Recommender</h1>
</div>
<br>
<!-- This container splits the page into half -->
<style>
  .container-vertical-line {
    height: 620px;
    position: relative;
  }
  .vertical-line {
    border-left: 1px solid black;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .list-group-item.disabled {
  pointer-events: none;
  cursor: default;
  color: #999;
  background-color: #f8f9fa;
  border-color: #999;
}

</style>

<div class="container container-vertical-line">
  <div class="row">
    <div class="col-md-6">
      <div class="section">
        <div class="text-center"><h3>Food Recommendations based on Food Category</h2></div>
      </div>
      <p>Craving for a cuisine but dont know what exactly to eat? Click on the recommend button below to get some food recommendations!</p>
      <br>
      <div>
        
      </div>


    </div>
    <div class="col-md-6">
      <div class="section">
        <div class="text-center"><h3>Food Recommendations based on Collaborative filtering</h3></div>
      </div>
      <p>Feeling adventurous today? Click on the recommend button below to get food recommendations based on users like you!</p>
      <br>

    </div>
    <div class="dvertical-line"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex flex-column align-items-center">
        <select id="food-category-select" class="custom-select custom-select-lg mb-3" value="{{user_profile.foodCategory.categoryName}}">
          <option selected>Select your prefered food genre</option>
            {% if foodCategory %}
            {% for item in foodCategory %}
              <option value="{{ item.pk }}" {% if user_profile.foodCategory.categoryName == item.categoryName %}selected{% endif %}>{{ item.categoryName }}</option>
            {% endfor %}
          {% endif %}
        </select>
        <a id="recommendation-link" href="{% url 'recommenderresults' %}" class="list-group-item list-group-item-action active text-center disabled" aria-current="true">Recommend me!</a>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-end">
      <a href="{% url 'recommenderresults' %}" class="list-group-item list-group-item-action active text-center" aria-current="true">Recommend me!</a>
    </div>
  </div>
</div>

<script>
  // Get the select and link elements by their ids
  const foodCategorySelect = document.getElementById("food-category-select");
  const recommendationLink = document.getElementById("recommendation-link");

  // Function to enable or disable the link based on the selected value
  function updateLinkState() {
    if (foodCategorySelect.value != 'Select your prefered food genre') {
      recommendationLink.classList.remove("disabled");
    } else {
      recommendationLink.classList.add("disabled");
    }
  }

  // Call the function initially to set the correct state on page load
  updateLinkState();

  // Add an event listener to the select element to update the link state when the value changes
  foodCategorySelect.addEventListener("change", updateLinkState);
  
  recommendationLink.addEventListener("click", function (event) {
    if (recommendationLink.classList.contains("disabled")) {
      event.preventDefault();
    }
  });
</script>

{% endblock %}