{% extends 'base.html' %}
{% block content %}

<style>
	.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
	h3 {
  margin-bottom: 15px;
  color: #555;
  font-size: 1.3em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
select {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  font-size: 1.1em;
  width: 100%;
  margin-bottom: 10px;
}

  .dietary-restrictions-options {
    display: flex;
    flex-wrap: wrap;
  }

  .dietary-restrictions-options .form-check {
    margin-right: 10px;
  }

  .grid-container {
	  display: grid;
	  grid-template-columns: repeat(3, 1fr);
	  grid-gap: 35px; 
	}

	h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  .form-group.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons a, .buttons button {
  flex-basis: 15%;
}

.form-group a {
        margin-right: 10px;
}
</style>

<h1 class="text-center display-4">User Registration</h1><br>
<div class="grid-container">
<div class="card mb-5">
	<div class="card-body">
		
<form id="registerForm" method="post" action="{% url 'registeruser' %}">
	{% csrf_token %}
	<h3>Personal Information</h3>
	<div class="form-group">
		<label for="first_name">First Name</label>
		<input type="text" class="form-control" id="first_name" name="first_name" placeholder="e.g. John" value="{{ request.POST.first_name }}" required> 
	</div>
	<div class="form-group">
		<label for="last_name">Last Name</label>
		<input type="text" class="form-control" id="last_name" name="last_name" placeholder="e.g. Doe" value="{{ request.POST.last_name }}" required>
	</div>
	<div class="form-group">
		<label for="birthdate">Birth Date:</label>
		<input type="date" id="birthdate" name="birthdate" class="form-control" value="{{ request.POST.birthdate }}" required>
	</div>
	<div class="form-group">
		<label for="gender">Gender</label>
		<select class="custom-select" id="gender" name="gender" required>
			<option value="" {% if not request.POST.gender %}selected{% endif %}>Select your gender</option>
			{% for value, label in gender_options %}
            	<option value="{{ value }}" {% if request.POST.gender == value %}selected{% endif %}>{{ label }}</option>
			{% endfor %}
		</select>
	</div>
</div>
</div>

<div class="card mb-5">
	<div class="card-body">
	<h3>How may we contact you?</h3>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" name="email" placeholder="e.g. name@example.com" value="{{ request.POST.email }}" required>
	</div>
	<div class="form-group">
		<label for="phone">Phone Number</label>
		<input type="tel" class="form-control" id="phone" name="phone" placeholder="e.g. 91234567" value="{{ request.POST.phone }}" required>
	</div>
</div>
</div>	

<div class="card mb-5">
	<div class="card-body">
	<h3>Let us know you better</h3>
	<div class="form-group">
		<label for="favorite_food">Favourite food</label>
		<input type="text" class="form-control" id="favorite_food" name="favorite_food" placeholder="e.g. Duck rice" value="{{ request.POST.favorite_food }}" required>
	</div>
	<div class="form-group">
		<label for="preferred_location">Prefered Location</label>
		<select class="custom-select" id="preferred_location" name="preferred_location" required>
			<option value="" {% if not request.POST.preferred_location %}selected{% endif %}>Where do you frequent?</option>
			{% for value, label in location_options %}
				<option value="{{ value }}" {% if request.POST.preferred_location == value %}selected{% endif %}>{{ label }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label for="food_category">Food Genre</label>
		<select class="custom-select" id="food_category" name="food_category" required>
		  <option value="" {% if not request.POST.food_category %}selected{% endif %}>Your favorite type of food</option>
		  {% if foodCategory %}
			{% for item in foodCategory %}
			  <option value="{{ item.pk }}" {% if request.POST.food_category == item.pk|stringformat:"s" %}selected{% endif %}>{{ item.categoryName }}</option>
			{% endfor %}
		  {% endif %}
		</select>
	  </div>
		
	  <div class="form-group">
		<label for="dietary_restrictions">Dietary Restrictions:</label>
		<div class="dietary_restrictions_options">
			{% for value, label in DIETARY_RESTRICTIONS_OPTIONS %}
				<div class="form-check">
					{% if value|stringformat:"s" in checked_dietary_restrictions %}
						<input class="form-check-input" type="checkbox" name="dietary_restrictions" value="{{ value }}" id="dietary_restrictions_{{ forloop.counter }}" checked>
					{% else %}
						<input class="form-check-input" type="checkbox" name="dietary_restrictions" value="{{ value }}" id="dietary_restrictions_{{ forloop.counter }}">
					{% endif %}
					<label class="form-check-label" for="dietary_restrictions_{{ forloop.counter }}">{{ label }}</label>
				</div>
			{% endfor %}
		</div>
	</div>
				
</div>
</div>
</div>
<div class="card mb-5">
	<div class="card-body">
	<h3>Creating your account</h3>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="username">Username</label>
			<input type="text" class="form-control" id="username" name="username" value="{{ request.POST.username }}" required>
		</div>
		<div class="form-group col-md-6">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password" required>
		</div>
	</div>
	<div class="form-group">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="gridCheck" required>
			<label class="form-check-label" for="gridCheck">
				I agree to receive marketing information by email from CollabFood and its marketing agents.
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="gridCheck" required>
			<label class="form-check-label" for="gridCheck">
				I agree that CollabFood may collect my personal data both in its own capacity for the purpose of ticket processing, and as ticketing agent and data intermediary of promoters and venue managers of events for which I purchase tickets for the purposes of event management, and venue admission. My personal data may be collected, used, processed and disclosed by CollabFood, its agents and the above parties in accordance with CollabFood's Privacy Policy. I further confirm that all information provided is accurate and complete.
			</label>
		</div>
	</div>
</div>
</div>
<div>
	<div>
	<div class="form-group buttons">
	<button type="button" class="btn btn-danger" onclick="clearForm()">Clear</button>
	<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>


<script>
window.onload = function() {
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("birthdate").setAttribute("max", today);
}

$(function() {
  $('#registerForm').submit(function(event) {
    var gender = $('#gender').val();
    var preferred_location = $('#preferred_location').val();
    var food_category = $('#food_category').val();
    var valid = true;
    // Check if form is valid
    if (!this.checkValidity()) {
      event.preventDefault();
      $('#error-message').html('Please fill in all required fields.');
      valid = false;
    }
    // Remove "submit" class from required fields to remove red border
    $('input:required, select:required, textarea:required').removeClass('submit');
  });
});

function clearForm() {
		document.getElementById("registerForm").reset();
}

</script>

{% endblock %}