{% extends 'base.html' %}
{% block content %}

<style>
  .card {
    border-radius: 10px;
    margin-bottom: 50px;
  }

  table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border: none;
}

th {
  border-top: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
  background-color: #F8F8F8;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #FFFFFF;
}

table td, table th {
  border: none;
}

h1 {
  margin-top: 40px;
}

</style>

<div class="row">
  <div class="col-md-3">
    <h1 class="text-center display-4">User List</h1><br>
  </div>
  <div class="col-md-9">
    <div class="card shadow">
      <div class="card-body">
        <h3 class="text-center mb-4">Search for a User</h3>
        <div class="form-group">
          <input class="form-control" id="searchCategory" type="text" placeholder="Enter the name of the user">
        </div>
      </div>
    </div>
  </div>
</div>


<table class="table-hover">
  <thead style="color: #fff; background-color: #6c7ae0;">
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody id="Category">
    {% if users %}
      {% for item in users %}
        <tr>
          <th scope="row"><a href="{% url 'viewuserprofile' item.id %}">{{ item.username }}</a></th>
          {% if item.is_active %}
            <td style="color: rgb(22, 184, 22);">Active</td>
          {% else %}
            <td style="color: red;">Deactivated</td>
          {% endif %}
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>

<script>
$(document).ready(function(){
  $("#searchCategory").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#Category tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}