{% extends 'base.html' %}
{% block content %}

<style>
  .card {
    border-radius: 10px;
    margin-bottom: 50px;
  }

  table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border: none;
}

th {
  border-top: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
  background-color: #F8F8F8;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #FFFFFF;
}

table td, table th {
  border: none;
}

h1 {
  margin-top: 15px;
}

</style>

<div class="row">
  <div class="col-md-3">
    <h1 class="text-center display-4">Business List</h1><br>
  </div>
  <div class="col-md-9">
    <div class="card shadow">
      <div class="card-body">
        <h3 class="text-center mb-4">Search for a Business</h3>
        <div class="form-group">
          <input class="form-control" id="searchCategory" type="text" placeholder="Enter the name of the business">
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table-hover">
  <thead style="color: #fff; background-color: #6c7ae0;">
    <tr>
      <th scope="col">Business</th>
      <th scope="col">Address</th>
      <th scope="col">Food Category</th>
      {% if user_type.userType == 'admin' %}
        <th scope="col">Status</th>
        <th scope="col">Verification</th>
      {%endif%}
    </tr>
  </thead>
  <tbody id="Category">
  	
    {% if businesses %}
    {% for item in businesses %}
      {% if item.isVerified or user_type.userType == 'admin' %}
        <tr>
          <th scope="row"><a href="{% url 'viewbusinessprofile' item.user.id %}">{{ item.companyName }}</a></th>
          <td>{{item.address}}, Singapore {{item.postalCode}}</td>
          <td>{{item.foodCategory.categoryName}}</td>
          {% if user_type.userType == 'admin' %}
            {% if item.user.is_active %}
              <td style="color: rgb(22, 184, 22);">Active</td>
            {% else %}
              <td style="color: red;">Deactivated</td>
            {% endif %}
            {% if item.isVerified %}
              <td style="color: rgb(22, 184, 22);">Verified</td>
            {% else %}
              <td style="color: orange;">Unverified</td>
            {% endif %}
          {% endif %}
        </tr>
      {% endif %}
    {% endfor %}
  {% else %}
    <tr><td colspan="3">No businesses found.</td> </tr>
  {% endif %}
  
  

  </tbody>
</table>

<script>
$(document).ready(function(){
  $("#searchCategory").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#Category tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}