{% extends 'base.html' %}
{% block content %}

<style>
  .card {
    border-radius: 10px;
    margin-bottom: 50px;
  }

  table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border: none;
}

th {
  border-top: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
  background-color: #F8F8F8;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #FFFFFF;
}

table td, table th {
  border: none;
}

h1 {
  margin-top: 15px;
}

</style>

<div class="row">
  <div class="col-md-4">
    <h1 class="text-center display-4">Promotions List</h1><br>
  </div>
  <div class="col-md-8">
    <div class="card shadow">
      <div class="card-body">
        <h3 class="text-center mb-4">Search for a Promotion</h3>
        <div class="form-group">
          <input class="form-control" id="searchPromotions" type="text" placeholder="Enter the name of the promotion">
        </div>
      </div>
    </div>
  </div>
</div>

{% if user_type.userType == 'business' %}
<div style="text-align: center; margin-bottom: 20px;">
<a class="btn btn-primary" href="{% url 'createpromotion' %}">Create Promotions</a><br><br>
</div>
{% endif %}

<table class="table-hover">
  <thead style="color: #fff; background-color: #6c7ae0;">
      <tr>
          <th scope="col">Title</th>
          <th scope="col">Company</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          {% if user_type.userType == 'admin' or user_type.userType == 'business' %}
            <th scope="col">Status</th>
            <th scope="col">Tools</th>
          {%endif%}
      </tr>
    </thead>
    {% if promotions %}
    <tbody id="Promotions">
      {% for item in promotions %}
        <tr>
            <td><a href="{% url 'viewpromotion' item.id %}">{{ item.title }}</a></td>
            <td>{{ item.createdBy }}</td>
            <td>{{ item.startDate }}</td>
            <td>{{ item.endDate }}</td>
            {% if user_type.userType == 'admin' or user_type.userType == 'business' %}
              {% if item.isActive %}
                <td style="color: rgb(22, 184, 22);">Active</td>
              {% else %}
                <td style="color: red;">Inactivated</td>
              {%endif%}
              <td><a href="{% url 'deletepromotion' item.id %}">Delete</a><br></td>
            {%endif%}
        </tr>
      {% endfor %}
      {% else %}
      <tr><td colspan="4" text>No current promotions.</td> <tr>
      {% endif %}
    </tbody>
  </table>

<script>
    $(document).ready(function(){
      $("#searchPromotions").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#Promotions tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
{% endblock %}
