{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<style>

.card {
    border-radius: 10px;
    margin-bottom: 50px;
  }

    .checked {
        color: rgb(255, 182, 47);
    }
    .unchecked{
        color: grey;
    }

    h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
  }

  table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border: none;
}

th {
  border-top: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
  background-color: #F8F8F8;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #FFFFFF;
}

table td, table th {
  border: none;
}

</style>
    
<div class="row" style="margin-top: 15px;">
    <div class="col-md-3">
<h1 class="text-center display-4">Past Ratings</h1>
<br>  </div>
<div class="col-md-9">
    <div class="card shadow">
      <div class="card-body">
        <h3 class="text-center mb-4">Search for a specific food</h3>
        <div class="form-group">
<input class="form-control" id="searchRatings" type="text" placeholder="Enter the name of the food">
</div>
</div>
</div>
</div>
</div>

<table class="table-hover">
    <thead style="color: #fff; background-color: #6c7ae0;">
        <tr>
            <th scope="col">Food</th>
            <th scope="col">Rating</th>
        </tr>
    </thead>
    <tbody id="RatingBody">
        {% for item, checked_range, unchecked_range in rating_values %}
            <tr>
                <th scope="row">{{ item.food }}</th>
                <td>
                    {% for i in checked_range %}
                        <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% for i in unchecked_range %}
                        <span class="fa fa-star unchecked"></span>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function(){
      $("#searchRatings").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#RatingBody tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

{% endblock %}
